form {
  margin-top: 100px;
}

form > label {
  display: block;
  margin-top: 20px;
}

form > label > input {
  display: block;
  margin: 5px auto;
}

input {
  padding: 8px;
  font-size: 1em;
  cursor: pointer;
}

